<!-- <div id="app">
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
  <ul>
      <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
      </li>
  </ul>
</div> -->

<div style="text-align:center">
	<div>
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
		<div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
		<div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
	</div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
	<li>{{error | json}}</li>
</ul>

<div class="screenshots" >
    <img [src]="wc._imageAsDataUrl"  alt="no-img" *ngFor="let wc of captures">
</div>